services:
  client:
    container_name: react
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./client:/app

  # server:
  #   container_name: express
  #   build:
  #     context: ./server
  #     dockerfile: Dockerfile
  #   ports:
  #     - "3000:3000"
  #     - "3030:3030"
  #   networks:
  #     - appnetwork
  #   volumes:
  #     - ./server:/app
  #   depends_on:
  #     - mongodb

  mongodb:
    image: mongo
    container_name: mongo_c
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db
    networks:
      - appnetwork

networks:
  appnetwork:
    driver: bridge

volumes:
  mongo-data:
